.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .bg {
    margin-top: 6.2rem;
    position: absolute;
    top: 9.6vh;
 border-radius: 6%;
    left: 8.1vw;
    width: 49.8vw;
    height: 72vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
  }
  