.dfGkGd:hover {
    background-color: transparent !important;
    cursor: pointer;
    box-shadow: none !important;
    color: black !important;
}

.dfGkGd{
    background-color: transparent !important;
    box-shadow: none !important;
    color: black !important;
}

.jqiYbv{
    background-color: transparent !important;
    box-shadow: none !important;
    color: rgb(120, 120, 120) !important;
}
.kcexZh{
    background-color: black !important;
    box-shadow: 0 0 1px 3px rgb(50, 50, 50)!important;
}